@model SW.Presentation.Areas.Administracao.Models.ProdutoVM

@{
    ViewBag.Title = "Editar";
    Layout = "~/Areas/Administracao/Views/Shared/_Layout.cshtml";
}



<div class="panel panel-default">
    <div class="panel-heading">
        @ViewBag.Title
    </div>
    <div class="panel-body ">

        @Html.Partial("_FormProduto")


    </div>
</div>
