@using PagedList
@using PagedList.Mvc
<div>
    @Html.PagedListPager((IPagedList)Model, pagina => Url.Action(ViewBag.Action, new
{
    q = ViewBag.Query,
    pagina = pagina,
  
}), PagedListRenderOptions.OnlyShowFivePagesAtATime)
</div>
