
@{
    ViewBag.Title = "Http404";
}

<div class="about">
    <div class="error-404 text-center">
        <h1>404</h1>
        <p>Pagina Não Encontada.....!</p>
        <h2>:(</h2>
        <a class="btn btn-default" href="/" title="Home">Voltar para a Home</a>

    </div>
</div>

