
@{
    ViewBag.Title = "Http500";
}

<div class="about">
    <div class="error-404 text-center">
        <h1>500</h1>
        <p>Erro interno do servidor.....!</p>
        <h2>:(</h2>
        <a class="btn btn-default" href="/" title="Home">Voltar para a Home</a>

    </div>
</div>


